h1 {
font-family: Times New Roman;
font-size 50px;
color: #FF6600;
background-color: #FFF0F0;
padding-left:50px;
} 
h2 {
font-family: Times New Roman;
font-size 30px;
color: #FF6600;
background-color: #FFF0F0;
padding-left:450px;
}
h3 {
font-family: Times New Roman;
font-size 20px;
color: #FFFFFF;
background-color: #CC3300;
padding-left:200px;
}